*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

header{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.row{
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 0 25px;

	/*Fix row height error*/
	overflow: hidden;

}
.row > div> div {
	/*Set the parent position to offset the 'title' */
	position: relative;
	background-color: gray;
	/*Set height enough to prevent overflow when approaching boundary*/
	height: 200px;
	overflow: hidden;
	margin: 15px 10px;
	border: 1px solid ;

}

.row > div > div p{
	/*clear: right;*/
	padding: 15px;
	position: absolute;
	top: 24px;
	left: 10px;
}

.title{
	position: absolute;
	border: 1px solid black;
	width: 33.33%;
	text-align: center;
	top: 0;
	right: 0;

	/*float: right;*/
	

}

/*Add colors*/
.item1 h2{
background-color: pink;

}
.item2 h2{
	background-color: #f44336;
	color: white;
}
.item3 h2{
	background-color: #FFFF66;
}
